
// this grid controls the images in the list
ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    'thr two fou one'
    'fiv sev six nin'
    'ele eig twe ten';
}

li#icon1 {
    grid-area: one;
}

li#icon2 {
    grid-area: two;
}

li#icon3 {
    grid-area: thr;
}

li#icon4 {
    grid-area: fou;
}

li#icon5 {
    grid-area: fiv;
}

li#icon6 {
    grid-area: six;
}

li#icon7 {
    grid-area: sev;
}

li#icon8 {
    grid-area: eig;
}

li#icon9 {
    grid-area: nin;
}

li#icon10 {
    grid-area: ten;
}

li#icon11 {
    grid-area: ele;
}

li#icon12 {
    grid-area: twe;
}