// Colors go here
$bgColor: rgba(0, 0, 0, 1);
$color: rgba(255, 255, 255, 1);
$red: red;

//fonts go here
$copyText: serif;
$headerText: Helevtica, Arial, Sans-serif;
$korean: 'Helvetica Neue', 'Helvetica', 'Apple SD Gothic Neo', 'NanumBarunGothic', 'Malgun Gothic', dotum, 'Lucida Grande', sans-serif;